<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8" />
<title>skema</title>
</head>

<body>

    <h1>Quiz- odpowiedz na pytania</h1>
    
    <from method="POST">
    
    <h2>Pytania</h2>
    {% for p in query %}
    <p>
        {{ p.id }} {{ p.pytanie}}
        <br>
        {% for o in p.odpowiedzi %}
        <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
        {{ o.odpowiedz }}
        <br>
        {% endfor %}
    </p>
    {% endfor %}

    <input type="submit" value="Zapisz odpowiedzi">


</body>

</html>
