{% extends "szablon.html" %}
{% block tytul %}Quiz - odpowiedz na pytania{% endblock %}
{% block h1 %}Quiz- odpowiedz na pytania!{% endblock %}
<body>
    
{% block h1 %}{% endblock %}
    
    <from method="POST">
    
    <h2>Pytania</h2>
    {% for p in query %}
    <p>
        {{ p.id }} {{ p.pytanie}}
        <br>
        {% for o in p.odpowiedzi %}
        <input type="radio" name="{{ p.id }}" value="{{ o.id }}">
        {{ o.odpowiedz }}
        <br>
        {% endfor %}
    </p>
    {% endfor %}

    <input type="submit" value="Zapisz odpowiedzi">


</body>

</html>
